@charset "UTF-8";

/* cabecalho */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

div.black {

    color: #c1b7b7;
}
#page-container {
    display: flex;
}

#header{
    border-right: 1px solid #ececec;
    box-shadow: 3px 2px 3px #ececec;
    width: 230px;
    height: 1500px;
}   

div#compartilhar1{
    margin-bottom: 5px;
}
div#compartilhar2{
    margin-bottom: 5px;

}
div#compartilhar3{
    margin-bottom: 5px;

}


p.citar{
    font-size: 15px;
    color: #ef8045;
    text-indent: 10px;
    margin-top: 10px;
    text-transform: uppercase;
}

div.bemvindo{
    text-align: right;
    font-size: 15px;
    margin-top: 7px;
    margin-right: 8px;
}
div.icon{
    margin-top: 4px;
}

#header div#titulo h1 {

    color: #ffffff;
    background: linear-gradient(180deg, #feb053, #e9894d);
    margin: 0px;
    height: 47px;
    width: 179px;
    text-transform: uppercase;
    padding: 10px 26px;
    font-size: 30px;
      
}
nav#menu {

    display: block;

}
#header nav#menu ul {
    list-style: none;
    padding-left: 0px;
    width: 230px;
    text-indent: 30px;
    
}

#header nav#menu a {

    text-decoration: none;
    color: #725c5c;
}
nav#menu li{

    border-bottom: 1px solid #e7e7e7 ;
    padding: 10px;
    
}
nav#menu li:hover {
	background-color:   #fdf1eb ;
    border-left: 5px solid #ed7839;

}

/* corpo */
div#padding{
    padding: 10px 40px;
    
}


div#conteudo div#cabeca{
    background-color: #fdf1eb;
    padding: 5px 40px;
    display: flex;

}

div#conteudo div#cabeca p.txt1 {
    
    font-size: 15px;
    color: #796464;
}
div#conteudo div#cabeca p.txt2 {
   
    width: 550px;
    margin: 0;
    font-size: 19px;
    color: #796464;
}
div#cabeca div.texto{

    width: 600px;
}
div#conteudo div#cabeca p#inss{
    
    
    width: 638px;
    margin-top: 0;
    color: #796464;

}
div.lingua {
    display: flex;
    margin-top: 13px;
    margin-bottom: 13px;
    border: 1px solid #e5dfdb;
    border-radius: 5px;
    padding: 0px;
    margin-right: 15px;

}
div.lingua img {
    margin-left: 10px;
    margin-right: 2px;
    padding-top: 3px;
}

div.lingua img.imge {
    margin-left: 3px;
    margin-right: 10px;
    padding-top: 10px;
}

div.lingua p{

    padding-top: 5px;

}


div.download{
    display: flex;

}

div#conteudo div#corpo p#cabeca {

    position: absolute;
    color: #ed7839;
    margin-top: 15px;
    margin-right: 0px;
    font-size: 20px;
    

}

div#conteudo div#corpo {
    display: flex;
    
}
div#conteudo div#corpo video {

margin-top: 90px;
margin-right: 30px;

}
div#conteudo div#corpo div p#tabela {
    
margin-left: 10px;    
margin-top: 25px;
margin-bottom: 0px;
margin-right: 30px;
font-size: 25px;
border: 1px solid #ececec;
box-shadow: 2px 3px 3px #ececec;
padding: 10px 10px 10px 10px;
border-radius: 5px 5px 0px 0px;
background-color: #fdf1eb
;

}

div#conteudo div#corpo div div#tabela2 {
    
    margin-left: 10px; 
    margin-top: 0px;
    margin-right: 30px;
    font-size: 15px;
    border: 1px solid #ececec;
    box-shadow: 2px 3px 3px #ececec;
    padding: 10px 10px 10px 10px;
    background-color: white; 
    height: 330px;
    overflow: scroll;
    text-overflow: ellipsis;
    cursor: pointer;
    position: relative;
}
div#conteudo div#corpo div div#tabela2 p {
    
    margin-top: 0px;
    margin-right: 30px;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    background-color: white; 
}
 div#tabela2 p.black {
    
    margin-top: 0px;
    margin-right: 30px;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    background-color: white; 
    color: #c3bcbc;
}



div#total{
    
    border: 1px solid #f1f1f1;
    border-radius: 5px 5px 0px 0px;
    margin-top: 40px;
    margin-right: 15px;

}

Div#resumo p#titulo1 {
    
    width: 80px;
    box-shadow: 2px 3px 3px #ececec;
    border-radius: 5px 5px 0px 0px;
    background-color: #fdf1eb;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 20px;
    color: #4e4e4e;
    margin-bottom: 0px;
    ;
}
#discucoes .texto {
    margin-right: 20px;
    margin-bottom: 30px;
    padding-left: 10px;
    margin-top: 0px;
    padding-top: 20px;
    color: #848484;
    cursor: pointer;
    
}
#discucoes .texto.ver-mais {
    height: 76px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    position: relative;
}
#discucoes .texto.ver-mais:after {
    display: block;
    content: "ver mais";
    position: absolute;
    width: 100px;
    height: 19px;
    bottom: 0px;
    right: 0px;
    color: orange;
    text-align: right;
}

#discucoes .texto p {
    margin-bottom: 20px;
}

div#discucoes {

    border: 1px solid #e7e7e7;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 30px;
}

p#titulo1 {
    
    border: 1px solid #e7e7e7;
    border-radius: 5px 5px 0px 0px ;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
   background-color: #fdf1eb;
}

div#discucoes p.txt1{
    
    font-size: 20px;
    margin-top: 30px;
    color: #f2833e;

}

div#discucoes div#discucao3  {

    text-align: left;
    margin-top: 30px;
    }
div#discucoes div#discucao2  {

display: flex;
margin-top: 30px;
justify-content: center;
}

div#discucoes div#discucao2  img{

    margin-right: 30px;
}

.alinhar_ao_centro{
    text-align: center;
}


div.absoluta{
    backdrop-filter: blur(4px);
    
    background-color: rgba(#c4c1c1 0.514);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

div.relativa{
    position: relative;
}

div.absoluta p.feedback {
    font-size: 20px;
    color:#808080;
}
P.orange{
    padding-top: 0px;
    font-size: 15px;
    color:#ee8851;
    text-decoration: underline;
}

div.bloco1{
    border: 1px solid #f1f1f1;
    text-align: left;
    padding: 20px;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

div.bloco1 p.txt1  {

    
    color: #f2833e;
    font-size: 20px;
}
div.bloco1 p.txt2  {
    margin-top: 0px;
    color: black;
    font-size: 14px;
    
}

div.bloco1 p.txt3 {
    margin-top: 10px;
    color: #4e4e4e;
    font-size: 16px;
    
}

input.criartopico{
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ed7839;
    background: linear-gradient(180deg, #feb053, #e9894d);
    margin-left: 10px ;
    cursor: pointer;
    border: 1px solid white;
}

div.star input.criartopico {
    background-image: ("https://labormac.com.br/wp-content/uploads/star-1.png");
}

div.enviar {
    display: flex;
    justify-content: space-between;
    background-color: #eaf1f2;
    margin: 0px 65px 0px 19px;
}

div.enviar input.criartopico{
  padding: 10px 60px;
  border-radius: 0px;
}
div.enviar div.img img {
    margin-top: 10px;
    margin-left: 20px;
}



input.txt{
    width: 90%;
    height: 30px;
    text-align: left;
    margin-left: 20px;
}
input.txt2{
    width: 90%;
    height: 90px;
    margin-left: 20px;

}

p.titulocomp2{
    margin-top: 20px;
    color: #5c5c5c;
}

p.texto1{
    margin-left: 20px;
    margin-top: 10px ;
    color: #ed7839;
}

#compartilhar2, #compartilhar3{
    display: none;
}

/* rodape */

footer{
    
    display: flex;
    border-top: 1px solid #ececec;
}
footer img{
    margin-right: 20px;
    margin-left: 220px;
   
}


footer p.txt1 {
    
    
    color: #687990;
}

div.symbol {
    display: flex;
}
div.symbol p{
    margin-top: 10px;
    margin-left: 20px;
    color: #d3d3d3;
}
div.symbol img.one {
    margin-top: 10px;
    margin-left: 10px;
}
div.symbol img.two {
    margin-left: 20px;
    margin-top: 5px;
    background-color: #ed7839;
}