@charset "UTF-8";

/* cabecalho */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

div.black {

    color: #c1b7b7;
}
#page-container {
    display: flex;
}

#header{
    border-right: 1px solid #ececec;
    width: 230px;
    height: 1500px;
}   


#header div#titulo h1 {

    color: #ffffff;
    background-color: #f2833e;
    margin: 0px;
    width: 170px;
    text-transform: uppercase;
    padding: 10px 30px;
    font-size: 30px;
      
}
nav#menu {

    display: block;

}
#header nav#menu ul {
    list-style: none;
    padding-left: 0px;
    width: 230px;
    text-indent: 30px;
    
}

#header nav#menu a {

    text-decoration: none;
    color: #725c5c;
}
nav#menu li{

    border-bottom: 1px solid #e7e7e7 ;
    padding: 10px;
    
}
nav#menu li:hover {
	background-color: #fdf1eb;

}

/* corpo */
div#padding{
    padding: 10px 40px;
    
}


div#conteudo div#cabeca{
    background-color: #fdf1eb;
    padding: 5px 40px;
    display: flex;

}

div#conteudo div#cabeca p.txt1 {
    
    font-size: 15px;
    color: #796464;
}
div#conteudo div#cabeca p.txt2 {
   
    
    font-size: 19px;
    color: #796464;
}
div#conteudo div#cabeca p#inss{
    
    
    width: 638px;
    margin-top: 0;
    color: #796464;

}
div#conteudo div#cabeca p.lingua {
    
   
    border: solid 1px #796464;
    border-radius: 5px;
    width: 80px;
    padding: 5px 20px 5px 20px;
}

div.download{
    display: flex;

}

div#conteudo div#corpo p#cabeca {

    position: absolute;
    color: #ed7839;
    margin-top: 15px;
    margin-right: 0px;
    font-size: 20px;
    

}

div#conteudo div#corpo {
    display: flex;
    
}
div#conteudo div#corpo video {

margin-top: 90px;

}
div#conteudo div#corpo div p#tabela {
    
margin-left: 10px;    
margin-top: 50px;
margin-bottom: 0px;
margin-right: 30px;
font-size: 25px;
border: 1px solid #ececec;
padding: 10px 10px 10px 10px;
border-radius: 5px 5px 0px 0px;
background-color: #fdf1eb
;

}

div#conteudo div#corpo div p#tabela2 {
    
    margin-left: 10px; 
    margin-top: 0px;
    margin-right: 30px;
    font-size: 15px;
    border: 1px solid #ececec;
    padding: 10px 10px 10px 10px;
    background-color: white; 
}
div#conteudo div#corpo div p#tabela2 p {
    
    margin-top: 0px;
    margin-right: 30px;
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    background-color: white; 
}
div#total{
    margin-top: 40px;
    margin-right: 15px;

}

Div#resumo p#titulo1 {
    
    width: 80px;
    border: 1px solid #ececec;
    border-radius: 5px 5px 0px 0px;
    background-color: #fdf1eb;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 20px;
    color: #4e4e4e;
    margin-bottom: 0px;
    ;
}
#discucoes .texto {
    margin-right: 20px;
    margin-bottom: 30px;
    padding-left: 10px;
    margin-top: 0px;
    padding-top: 20px;
    color: #848484;
}
#discucoes .texto.ver-mais {
    height: 76px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    position: relative;
}
#discucoes .texto.ver-mais:after {
    display: block;
    content: "ver mais";
    position: absolute;
    width: 100px;
    height: 19px;
    bottom: 0px;
    right: 0px;
    color: orange;
    text-align: right;
}

#discucoes .texto p {
    margin-bottom: 20px;
}

div#discucoes {

    border: 1px solid #e7e7e7;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 30px;
}

p#titulo1 {
    
    border: 1px solid #e7e7e7;
    border-radius: 5px 5px 0px 0px ;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
   background-color: #fdf1eb;
}

div#discucoes p.txt1{
    
    font-size: 20px;
    margin-top: 30px;
    color: #f2833e;

}

div#discucoes div#discucao3  {

    text-align: left;
    margin-top: 30px;
    }
div#discucoes div#discucao2  {

display: flex;
margin-top: 30px;
justify-content: center;
}

div#discucoes div#discucao2  img{

    margin-right: 30px;
}

.alinhar_ao_centro{
    text-align: center;
}


div.bloco1{
    border: 1px solid #e7e7e7;
    padding: 20px;
    margin-bottom: 30px;
}

div.bloco1 p.txt1  {

    
    color: #f2833e;
    font-size: 20px;
}
div.bloco1 p.txt2  {
    margin-top: 0px;
    color: black;
    font-size: 14px;
    
}

div.bloco1 p.txt3 {
    margin-top: 10px;
    color: #4e4e4e;
    font-size: 16px;
    
}

input.criartopico{
    color: white;
    border: 0px solid white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ed7839;
    background: linear-gradient(180deg, #feb053, #e9894d);
    box-shadow: 0px 2px 3px #00000070;
}

input.txt{
    width: 90%;
    height: 30px;
    text-align: left;
    margin-left: 20px;
}
input.txt2{
    width: 90%;
    height: 90px;
    margin-left: 20px;

}

p.titulocomp2{
    margin-top: 20px;
    color: #5c5c5c;
}

p.texto1{
    margin-left: 20px;
    margin-top: 10px ;
    color: #ed7839;
}

#compartilhar2, #compartilhar3{
    display: none;
}

/* rodape */

footer{
    
    display: flex;
    border-top: 1px solid #ececec;
}
footer img{
    margin-right: 20px;
   
}


footer p.txt1 {
    
    text-align: left;
    color: #687990;
}

